.hidden {
    display: none;
}
.intro {
    font-style: bold;
}
.center {
    display: flex;
    justify-content: center;
    margin: auto;
    
}
.start-btn {
    background-color: blueviolet;
    border-radius: 10px;
    border: 1px solid black;
    color: white
}
.start-btn:hover {
    background-color: rgb(172, 99, 240);
}
.question-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.question-list-box {
    display: flex;
    justify-content: center;
    
    
}
.button-style {
    background-color: blueviolet;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    width: 120px;
    height: 40px;
    margin: 5px;
  
}
.button-style:hover {
    background-color: rgb(172, 99, 240);
}
.flex {
    display: flex;  
     flex-wrap: wrap; 
}
.header-flex {
    width: 100%;
    justify-content: space-between;
}
.hs-show {
    align-self: center;
}
.timer-show {
    align-self: center;
    width: 100%;
    text-align:center;
}
.hs-show a{
    text-decoration: none;
    color: black;
}
.hs-show a:hover {
    color: blueviolet;
}
.hs-form h1, h4{
    width: 100%;
    text-align: center;
}
.initial-submit {
    background-color: blueviolet;
    border-radius: 1px;
    border: 1px solid black;
    color: white;
    margin: 3px;
    height: 21px;
}
.initial-submit:hover {
    background-color: rgb(172, 99, 240);
}
.hs-list-box{
    font-size:3vh;
    font-weight: bold;
    flex-wrap: wrap;
}
.hs-list-class {
    width: 100%;
    text-align:center;
}
.shown { 
    display: block !important;
    
}
